POSTGRES_HOST=localhost
POSTGRES_PORT=5436
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=merch_cart
POSTGRES_SSLMODE=disable

REDIS_ADDR=localhost:6380
REDIS_PASSWORD=

PRODUCT_SERVICE_ADDR=product:50051
INVENTORY_SERVICE_ADDR=inventory:50051

GRPC_PORT=50055
HTTP_PORT=8085

JWT_ACCESS_SECRET=changeme-access-secret
