POSTGRES_DB=merch_order
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_SSLMODE=disable

CART_SERVICE_ADDR=cart:50055
USER_SERVICE_ADDR=user:50051
INVENTORY_SERVICE_ADDR=inventory:50051
KAFKA_BROKERS=kafka:9092

GRPC_PORT=50056
HTTP_PORT=8086

JWT_ACCESS_SECRET=your-secret-here
