JWT_ACCESS_SECRET=your-access-secret-min-32-characters-long

HTTP_PORT=8083
GRPC_PORT=50051

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=merch-products
MINIO_USE_SSL=false
